@{
    ViewData["Title"] = "Error Page";
}

    <main class="main">

        <div class="site-breadcrumb" style="background: url(../assets/img/breadcrumb/01.jpg)">
            <div class="container">
                <h2 class="breadcrumb-title">404 Error</h2>
                <ul class="breadcrumb-menu">
                <li><a href="~/Website/Index">Home</a></li>
                <li class="active">404 Error</li>
                </ul>
            </div>
        </div>


        <div class="error-area py-120">
            <div class="container">
                <div class="col-md-6 mx-auto">
                    <div class="error-wrapper">
                        <h1>4<span>0</span>4</h1>
                        <h2>Opos... Page Not Found!</h2>
                        <p>The page you looking for not found may be it not exist or removed.</p>
                        <a href="~/Website/Index" class="theme-btn"><i class="fa fa-home"></i> Go Back Home</a>
                    </div>
                </div>
            </div>
        </div>

    </main>

  