@{
    ViewData["Title"] = "Faq";
}

    <main class="main">

        <div class="site-breadcrumb" style="background: url(../assets/img/breadcrumb/01.jpg)">
            <div class="container">
                <h2 class="breadcrumb-title">FAQ</h2>
                <ul class="breadcrumb-menu">
                <li><a href="~/Website/Index">Home</a></li>
                    <li class="active">Faq</li>
                </ul>
            </div>
        </div>


        <div class="faq-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="faq-right">
                            <div class="site-heading mb-3">
                                <span class="site-title-tagline">Faq's</span>
                                <h2 class="site-title my-3">General frequently asked questions</h2>
                            </div>
                            <p class="about-text">Explore our comprehensive General Frequently Asked Questions (FAQ) section to seamlessly navigate your streaming experience. Whether you're new to live TV streaming and OTT platforms or a seasoned viewer, our FAQ provides clear and concise answers to common queries, ensuring you make the most of our platform's features. From troubleshooting technical issues to understanding subscription plans, our FAQ is a valuable resource designed to empower users with the knowledge needed for a smooth and enjoyable entertainment journey. Stay informed, troubleshoot with ease, and discover insider tips as you delve into the wealth of information available in our General FAQ, crafted to enhance your streaming experience. </p>
                        <a href="~/Website/Contact" class="theme-btn mt-5">Ask Your Question <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span><i class="fa fa-question"></i></span> Do I Need A Business Plan ?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Absolutely! Having a well-thought-out business plan is crucial in navigating the complex landscape of live TV streaming and OTT platform content. A business plan serves as your roadmap, outlining your goals, target audience, content strategy, and revenue streams. It not only provides a structured approach to the development and management of your streaming service but also acts as a valuable tool for potential investors and stakeholders. A comprehensive business plan helps anticipate challenges, seize opportunities, and ensures that your streaming platform aligns with the ever-evolving demands of the entertainment industry. Whether you are launching a startup or expanding an existing service, a solid business plan lays the foundation for a successful and sustainable venture in the dynamic world of digital entertainment.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span><i class="fa fa-question"></i></span> If we have More than one TV or Devices then how many subscription we have to buy?
                                        ?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Yes, each TV or device requires its own subscription for our streaming service. Our licensing model is designed to provide a personalized and optimized experience on each device, ensuring that viewers can enjoy the full spectrum of features independently. This approach allows us to maintain the integrity of your streaming experience across multiple devices, tailoring recommendations, preferences, and content accessibility to each individual subscription. By requiring separate subscriptions for each device, we aim to provide a seamless and customized entertainment journey for every user, enhancing the overall satisfaction and flexibility of our streaming platform.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span><i class="fa fa-question"></i></span> What Payment Gateway You Support ?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        In the realm of live TV streaming and OTT platform content, selecting a reliable payment gateway is pivotal, and we have chosen <b><b>PayPal</b></b> to facilitate seamless transactions. <b>PayPal</b> stands out for its global recognition, user-friendly interface, and robust security measures, providing our viewers with a trusted and convenient payment solution. Whether subscribers are accessing premium content or exploring subscription plans, our integration with <b>PayPal</b> ensures a smooth and secure financial transaction process. With <b>PayPal</b>'s versatility, supporting various payment methods including credit cards and direct transfers, we aim to enhance the user experience by offering a payment gateway that is not only widely accepted but also synonymous with trust and efficiency in the digital payment landscape.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

 