@{
    ViewData["Title"] = "Home";
}

<main class="main">

    <div class="hero-section">
        <div class="hero-slider owl-carousel owl-theme">
            <div class="hero-single" style="background: url(../assets/img/slider/slider-1.jpg);">
                <div class="hero-shape-1"></div>
                <div class="hero-shape-2"></div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="hero-content">
                                <h6 class="hero-sub-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Welcome To Streamline services !</h6>
                                <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
                                    We Provide TV Services In Your Area
                                </h1>
                                <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                                    There are many variations of passages available but the majority have suffered
                                    alteration in some form by injected humour or randomised words.
                                </p>
                                <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                    <a href="~/Website/Contact" class="theme-btn">FREE 24Hr Test/Trail Now<i class="fa fa-long-arrow-right"></i></a>
                                    <a href="#" class="theme-border-btn">Contact Us<i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-single" style="background: url(../assets/img/slider/slider-2.avif)">
                <div class="hero-shape-1"></div>
                <div class="hero-shape-2"></div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="hero-content">
                                <h6 class="hero-sub-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Welcome To Streamline Services!</h6>
                                <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
                                    We Provide TV Services In Your Area
                                </h1>
                                <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                                    There are many variations of passages available but the majority have suffered
                                    alteration in some form by injected humour or randomised words.
                                </p>
                                <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                    <a href="~/Website/Contact" class="theme-btn">FREE 24Hr Test/Trail Now<i class="fa fa-long-arrow-right"></i></a>
                                    <a href="#" class="theme-border-btn">Contact Us<i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-single" style="background: url(../assets/img/slider/slider-3.jpg);">
                <div class="hero-shape-1"></div>
                <div class="hero-shape-2"></div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="hero-content">
                                <h6 class="hero-sub-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Welcome To Streamline Services!</h6>
                                <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
                                    We Provide TV Services In Your Area
                                </h1>
                                <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                                    There are many variations of passages available but the majority have suffered
                                    alteration in some form by injected humour or randomised words.
                                </p>
                                <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                    <a href="~/Website/Contact" class="theme-btn">FREE 24Hr Test/Trail Now<i class="fa fa-long-arrow-right"></i></a>
                                    <a href="#" class="theme-border-btn">Contact Us<i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="service-area bg py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Services</span>
                        <h2 class="site-title">What We Offer</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon">
                            <img src="~/assets/img/icons/techsupport.png">
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="#">Technical Support</a>
                            </h3>
                            <p class="service-text">
                                Get expert assistance 24/7. Our dedicated team is ready to help with any issues or questions you may have. Contact us for prompt and reliable support."
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon">
                            <img src="~/assets/img/icons/devices.jpg" style="margin-bottom: 30px;" width="105" height="200" alt>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="#">Smart Devices</a>
                            </h3>
                            <p class="service-text">
                                Explore the latest in smart technology. From innovative gadgets to connected devices, discover a world of convenience and intelligence. Elevate your lifestyle.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon">
                            <img src="~/assets/img/icons/streaming.svg" alt>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="#">Streaming Service</a>
                            </h3>
                            <p class="service-text">
                                Dive into a world of entertainment with our premium streaming services. Enjoy a vast library of movies, TV shows, and exclusive content at your fingertips.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="find-location">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="find-location-wrapper">
                        <h1>Let's find our package services available in your area</h1>
                        <div class="find-location-form">
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Your Location">
                                    <button type="submit">Find Now <i class="fa fa-long-arrow-right"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="about-area py-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-left">
                        <div class="about-img">
                            <img class="about-img-1" src="~/assets/img/about/01.jpg" alt>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-right">
                        <div class="site-heading mb-3">
                            <span class="site-title-tagline">About Us</span>
                            <h2 class="site-title">
                                Trust Our Best Cable TV And Internet Services For You
                            </h2>
                        </div>
                        <p class="about-text">
                            Trust in our top-tier cable TV and internet services tailored just for you. Experience seamless connectivity, a vast array of channels, and lightning-fast internet speeds. From high-definition entertainment to reliable online connections, we've got you covered. Choose our services for a superior and enjoyable home entertainment and internet experience."
                        </p>
                        <div class="about-list-wrapper">
                            <ul class="about-list list-unstyled">
                                <li>
                                    Best Channels
                                </li>
                                <li>
                                    Stable Server
                                </li>
                                <li>
                                    Compatibility
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="theme-btn mt-4">Discover More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="pricing-area theme-bg-dark py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">pricing</span>
                        <h2 class="site-title text-white">Our pricing Plan</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-6 col-lg-3">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="pricing-icon">
                                <img src="~/assets/img/icons/cable-tv.svg" alt>
                            </div>
                            <div class="pricing-header-content">
                                <h4>Free 24hr Trial/Test</h4>
                                <h1 class="pricing-amount">$00.00</h1>
                            </div>
                        </div>
                        <div class="pricing-feature">
                            <ul>
                                <li>Compatible with all devices</li>
                                <li>LIVE TV,4K MOVIES,4K SERIES,3D MOVIES,4K TV SHOWS</li>
                                <li>Catchups</li>
                                <li>24/7 Support</li>
                                <li>Windows/macbook</li>
                                <li>24/7 Channels</li>
                            </ul>
                            <a href="~/Website/Contact" class="theme-btn">Test Now <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="pricing-icon">
                                <img src="~/assets/img/icons/cable-tv.svg">
                            </div>
                            <div class="pricing-header-content">
                                <h4>Monthly</h4>
                                <h1 class="pricing-amount">$24.99</h1>
                            </div>
                        </div>
                        <div class="pricing-feature">
                            <ul>
                                <li>Compatible with all devices</li>
                                <li>LIVE TV,4K MOVIES,4K SERIES,3D MOVIES,4K TV SHOWS</li>
                                <li>Catchups</li>
                                <li>24/7 Support</li>
                                <li>Windows/macbook</li>
                                <li>24/7 Channels</li>
                            </ul>
                            <a href="~/Website/Contact" class="theme-btn">Buy Now  <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="pricing-icon">
                                <img src="~/assets/img/icons/cable-tv.svg">
                            </div>
                            <div class="pricing-header-content">
                                <h4>Yearly</h4>
                                <h1 class="pricing-amount">$14.99</h1>
                            </div>
                        </div>
                        <div class="pricing-feature">
                            <ul>
                                <li>Compatible with all devices</li>
                                <li>LIVE TV,4K MOVIES,4K SERIES,3D MOVIES,4K TV SHOWS</li>
                                <li>Catchups</li>
                                <li>24/7 Support</li>
                                <li>Windows/macbook</li>
                                <li>24/7 Channels</li>
                            </ul>
                            <a href="~/Website/Contact" class="theme-btn">Buy Now  <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="pricing-icon">
                                <img src="~/assets/img/icons/cable-tv.svg" >
                            </div>
                            <div class="pricing-header-content">
                                <h4>Yearly for 2</h4>
                                <h1 class="pricing-amount">$11.99</h1>
                            </div>
                        </div>
                        <div class="pricing-feature">
                            <ul>
                                <li>Compatible with all devices</li>
                                <li>LIVE TV,4K MOVIES,4K SERIES,3D MOVIES,4K TV SHOWS</li>
                                <li>Catchups</li>
                                <li>24/7 Support</li>
                                <li>Windows/macbook</li>
                                <li>24/7 Channels</li>
                            </ul>
                            <a href="~/Website/Contact" class="theme-btn">Buy Now <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="feature-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="site-heading mb-3">
                        <span class="site-title-tagline">Feature</span>
                        <h2 class="site-title">
                            Get Full Control Of Your Internet TV And and Ott Platform
                        </h2>
                    </div>
                    <p>
                        Take command of your entertainment experience with our Internet TV and OTT platform. Enjoy full control and flexibility as you navigate through a world of content. Whether it's streaming your favorite shows or accessing exclusive content, our platform puts the power in your hands. Elevate your viewing experience with a personalized and convenient entertainment solution."
                    </p>
                    <div class="feature-img">
                        <img src="~/assets/img/feature/01.jpg" alt>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="~/assets/img/icons/connection.svg" alt>
                                </div>
                                <div class="feature-content">
                                    <h4>fast Connection</h4>
                                    <p>Experience lightning-speed connectivity that keeps pace with your digital lifestyle. Our fast connection ensures swift and reliable access to the online world. </p>
                                </div>
                            </div>
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="~/assets/img/icons/install.svg" alt>
                                </div>
                                <div class="feature-content">
                                    <h4>Free Installation and Activation</h4>
                                    <p>Enjoy a hassle-free setup experience with our complimentary installation and activation services. We believe in making it easy for you to get started.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item mt-lg-5">
                                <div class="feature-icon">
                                    <img src="~/assets/img/icons/quality.svg" alt>
                                </div>
                                <div class="feature-content">
                                    <h4>High Quality</h4>
                                    <p> Your peace of mind is our priority. Access round-the-clock support whenever you need it. Our dedicated team is here 24/7 to assist you with any inquiries or concerns. </p>
                                </div>
                            </div>
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="~/assets/img/icons/support.svg" alt>
                                </div>
                                <div class="feature-content">
                                    <h4>24/7 Support</h4>
                                    <p> Your peace of mind is our priority. Access round-the-clock support whenever you need it. Our dedicated team is here 24/7 to assist you with any inquiries or concerns.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="counter-area pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-box">
                        <div class="icon">
                            <img src="~/assets/img/icons/branch.svg" alt>
                        </div>
                        <div>
                            <span class="counter" data-count="+" data-to="5" data-speed="3000">5</span>
                            <h6 class="title">+ Total Branches </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-box">
                        <div class="icon">
                            <img src="~/assets/img/icons/happy.svg" alt>
                        </div>
                        <div>
                            <span class="counter" data-count="+" data-to="7500" data-speed="3000">7500</span>
                            <h6 class="title">+ Happy Customers</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-box">
                        <div class="icon">
                            <img src="~/assets/img/icons/staff.svg" alt>
                        </div>
                        <div>
                            <span class="counter" data-count="+" data-to="120" data-speed="3000">120</span>
                            <h6 class="title">+ Professional Staff</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-box">
                        <div class="icon">
                            <img src="~/assets/img/icons/experience.svg" alt>
                        </div>
                        <div>
                            <span class="counter" data-count="+" data-to="5" data-speed="3000">5</span>
                            <h6 class="title">+ Years Of Experience</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="team-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Team</span>
                        <h2 class="site-title">Meet Our Experts</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="team-item">
                        <img src="~/assets/img/team/01.jpg" alt="thumb">
                        <div class="team-content">
                            <div class="team-bio">
                                <h5><a href="#">Malissa Fie</a></h5>
                                <span>CEO & Founder</span>
                            </div>
                            <div class="social-btn"><i class="fa fa-share-alt"></i></div>
                        </div>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="team-item">
                        <img src="~/assets/img/team/02.jpg" alt="thumb">
                        <div class="team-content">
                            <div class="team-bio">
                                <h5><a href="#">Chad Smith</a></h5>
                                <span>Senior Staff</span>
                            </div>
                            <div class="social-btn"><i class="fa fa-share-alt"></i></div>
                        </div>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="team-item">
                        <img src="~/assets/img/team/03.jpg" alt="thumb">
                        <div class="team-content">
                            <div class="team-bio">
                                <h5><a href="#">Arron Rodri</a></h5>
                                <span>Senior Staff</span>
                            </div>
                            <div class="social-btn"><i class="fa fa-share-alt"></i></div>
                        </div>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="team-item">
                        <img src="~/assets/img/team/04.jpg" alt="thumb">
                        <div class="team-content">
                            <div class="team-bio">
                                <h5><a href="#">Tony Pinto</a></h5>
                                <span>Project Manager</span>
                            </div>
                            <div class="social-btn"><i class="fa fa-share-alt"></i></div>
                        </div>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="video-area" style="background-image: url(assets/img/video/01.jpg);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="video-wrapper">
                        <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU">
                            <span class="fa fa-play"><i class="ripple"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="movie-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Movies</span>
                        <h2 class="site-title">Showing Movies</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="movie-item">
                    <span class="movie-badge">HD</span>
                    <div class="movie-img">
                        <img src="~/assets/img/movie/01.jpg" alt>
                        <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="movie-content">
                        <a href="#" class="movie-title">Devil Wing</a>
                        <div class="movie-rating">
                            <i class="fa fa-star"></i> 9.0
                        </div>
                    </div>
                </div>
                <div class="movie-item">
                    <span class="movie-badge">CAM</span>
                    <div class="movie-img">
                        <img src="~/assets/img/movie/02.jpg" alt>
                        <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="movie-content">
                        <a href="#" class="movie-title">Spiderman</a>
                        <div class="movie-rating">
                            <i class="fa fa-star"></i> 8.0
                        </div>
                    </div>
                </div>
                <div class="movie-item">
                    <span class="movie-badge">HD</span>
                    <div class="movie-img">
                        <img src="~/assets/img/movie/03.jpg" alt>
                        <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="movie-content">
                        <a href="#" class="movie-title">Crater Dragon</a>
                        <div class="movie-rating">
                            <i class="fa fa-star"></i> 8.5
                        </div>
                    </div>
                </div>
                <div class="movie-item">
                    <span class="movie-badge">HD</span>
                    <div class="movie-img">
                        <img src="~/assets/img/movie/04.jpg" alt>
                        <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="movie-content">
                        <a href="#" class="movie-title">Fire Wing</a>
                        <div class="movie-rating">
                            <i class="fa fa-star"></i> 5.5
                        </div>
                    </div>
                </div>
                <div class="movie-item">
                    <span class="movie-badge">HD</span>
                    <div class="movie-img">
                        <img src="~/assets/img/movie/05.jpg" alt>
                        <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="movie-content">
                        <a href="#" class="movie-title">Robot</a>
                        <div class="movie-rating">
                            <i class="fa fa-star"></i> 6.5
                        </div>
                    </div>
                </div>
                <div class="movie-item">
                    <span class="movie-badge">HD</span>
                    <div class="movie-img">
                        <img src="~/assets/img/movie/06.jpg" alt>
                        <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="movie-content">
                        <a href="#" class="movie-title">Snake</a>
                        <div class="movie-rating">
                            <i class="fa fa-star"></i> 4.5
                        </div>
                    </div>
                </div>
                <div class="movie-item">
                    <span class="movie-badge">HD</span>
                    <div class="movie-img">
                        <img src="~/assets/img/movie/07.jpg" alt>
                        <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="movie-content">
                        <a href="#" class="movie-title">King Kong</a>
                        <div class="movie-rating">
                            <i class="fa fa-star"></i> 9.5
                        </div>
                    </div>
                </div>
                <div class="movie-item">
                    <span class="movie-badge">HD</span>
                    <div class="movie-img">
                        <img src="~/assets/img/movie/08.jpg" alt>
                        <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="movie-content">
                        <a href="#" class="movie-title">Gangster</a>
                        <div class="movie-rating">
                            <i class="fa fa-star"></i> 8.5
                        </div>
                    </div>
                </div>
                <div class="movie-item">
                    <span class="movie-badge">CAM</span>
                    <div class="movie-img">
                        <img src="~/assets/img/movie/09.jpg" alt>
                        <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="movie-content">
                        <a href="#" class="movie-title">Revenge</a>
                        <div class="movie-rating">
                            <i class="fa fa-star"></i> 5.5
                        </div>
                    </div>
                </div>
                <div class="movie-item">
                    <span class="movie-badge">HD</span>
                    <div class="movie-img">
                        <img src="~/assets/img/movie/01.jpg" alt>
                        <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="movie-content">
                        <a href="#" class="movie-title">Roadside</a>
                        <div class="movie-rating">
                            <i class="fa fa-star"></i> 6.5
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="testimonial-area bg py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline text-white">Testimonials</span>
                        <h2 class="site-title text-white">What Client Say's</h2>
                    </div>
                </div>
            </div>
            <div class="testimonial-slider owl-carousel owl-theme">
                <div class="testimonial-single">
                    <div class="testimonial-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="testimonial-quote">
                        <div class="testimonial-quote-icon"><img src="~/assets/img/icon/quote.svg" alt></div>
                        <p>
                            "Amazing Channel Selection!": "I've been using this IPTV service for months, and I'm blown away by the vast channel selection. From live sports to international news, it covers everything I need. The picture quality is fantastic, and the user interface is so easy to navigate."
                        </p>
                        <div class="testimonial-quote-icon">
                            <img src="~/assets/img/icon/quote.svg" alt>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="testimonial-author-img">
                            <img src="~/assets/img/testimonial/01.jpg" alt>
                        </div>
                        <div class="testimonial-author-info">
                            <h4>Sylvia H Green</h4>
                            <p>Customer</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-single">
                    <div class="testimonial-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="testimonial-quote">
                        <div class="testimonial-quote-icon"><img src="~/assets/img/icon/quote.svg" alt></div>
                        <p>
                            "Stable and Reliable Streaming": "Finally found an IPTV service that lives up to its promises. The streaming is super stable, and I haven't experienced any buffering issues. It's a game-changer for me, especially during prime time when other services tend to struggle."
                        </p>
                        <div class="testimonial-quote-icon">
                            <img src="~/assets/img/icon/quote.svg" alt>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="testimonial-author-img">
                            <img src="~/assets/img/testimonial/02.jpg" alt>
                        </div>
                        <div class="testimonial-author-info">
                            <h4>Gordon D Novak</h4>
                            <p>Customer</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-single">
                    <div class="testimonial-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="testimonial-quote">
                        <div class="testimonial-quote-icon"><img src="~/assets/img/icon/quote.svg" alt></div>
                        <p>
                            "Excellent Customer Service": "What sets this IPTV service apart is their exceptional customer service. I had a few questions during the setup, and their support team was quick to respond and incredibly helpful. It's great to know they value their customers. A+ service all around!"
                        </p>
                        <div class="testimonial-quote-icon">
                            <img src="~/assets/img/icon/quote.svg" alt>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="testimonial-author-img">
                            <img src="~/assets/img/testimonial/03.jpg" alt>
                        </div>
                        <div class="testimonial-author-info">
                            <h4>Reid E Butt</h4>
                            <p>Customer</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-single">
                    <div class="testimonial-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="testimonial-quote">
                        <div class="testimonial-quote-icon"><img src="~/assets/img/icon/quote.svg" alt></div>
                        <p>
                            "Feature-Rich and Affordable": "I've tried a few IPTV services before, but this one stands out for its combination of features and affordability. The on-demand content, catch-up TV, and electronic program guide are fantastic additions. Plus, they offer competitive pricing
                        </p>
                        <div class="testimonial-quote-icon">
                            <img src="~/assets/img/icon/quote.svg" alt>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="testimonial-author-img">
                            <img src="~/assets/img/testimonial/04.jpg" alt>
                        </div>
                        <div class="testimonial-author-info">
                            <h4>Parker Jimenez</h4>
                            <p>Customer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="shop-area bg py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Our Shop</span>
                        <h2 class="site-title">Our Awesome Products</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-img">
                            <span class="shop-item-sale">Sale</span>
                            <img src="~/assets/img/shop/01.png" alt>
                            <div class="shop-item-meta">
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                        <div class="shop-item-info">
                            <div class="shop-item-rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <a href="#">
                                <h4 class="shop-item-title">Smart TV</h4>
                            </a>
                            <div class="shop-item-price"><del>$500</del> $260</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-img">
                            <img src="~/assets/img/shop/02.png" alt>
                            <div class="shop-item-meta">
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                        <div class="shop-item-info">
                            <div class="shop-item-rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <a href="#">
                                <h4 class="shop-item-title">TV Remote</h4>
                            </a>
                            <div class="shop-item-price">$13</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-img">
                            <img src="~/assets/img/shop/03.png" alt>
                            <div class="shop-item-meta">
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                        <div class="shop-item-info">
                            <div class="shop-item-rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <a href="#">
                                <h4 class="shop-item-title">Asus Router</h4>
                            </a>
                            <div class="shop-item-price">$170</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-img">
                            <img src="~/assets/img/shop/04.png" alt>
                            <div class="shop-item-meta">
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                        <div class="shop-item-info">
                            <div class="shop-item-rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <a href="#">
                                <h4 class="shop-item-title">Ultra Smart TV</h4>
                            </a>
                            <div class="shop-item-price">$250</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-img">
                            <img src="~/assets/img/shop/05.png" alt>
                            <div class="shop-item-meta">
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                        <div class="shop-item-info">
                            <div class="shop-item-rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <a href="#">
                                <h4 class="shop-item-title">Mi TV Box</h4>
                            </a>
                            <div class="shop-item-price">$280</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-img">
                            <img src="~/assets/img/shop/06.png" alt>
                            <div class="shop-item-meta">
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                        <div class="shop-item-info">
                            <div class="shop-item-rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <a href="#">
                                <h4 class="shop-item-title">Bluetooth Speaker</h4>
                            </a>
                            <div class="shop-item-price">$130</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-img">
                            <span class="shop-item-sale">Sale</span>
                            <img src="~/assets/img/shop/07.png" alt>
                            <div class="shop-item-meta">
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                        <div class="shop-item-info">
                            <div class="shop-item-rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <a href="#">
                                <h4 class="shop-item-title">Smart Speaker</h4>
                            </a>
                            <div class="shop-item-price"><del>$120</del>$90</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-img">
                            <img src="~/assets/img/shop/08.png" alt>
                            <div class="shop-item-meta">
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                        <div class="shop-item-info">
                            <div class="shop-item-rate">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <a href="#">
                                <h4 class="shop-item-title">Ultra HD Monitor</h4>
                            </a>
                            <div class="shop-item-price">$150</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="partner-area pt-120 pb-40 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Partners</span>
                        <h2 class="site-title">Our Partners</h2>
                    </div>
                </div>
            </div>
            <div class="partner-wrapper partner-slider owl-carousel owl-theme">
                <img src="~/assets/img/partner/01.png" alt="thumb">
                <img src="~/assets/img/partner/01.png" alt="thumb">
                <img src="~/assets/img/partner/01.png" alt="thumb">
                <img src="~/assets/img/partner/01.png" alt="thumb">
                <img src="~/assets/img/partner/01.png" alt="thumb">
                <img src="~/assets/img/partner/01.png" alt="thumb">
                <img src="~/assets/img/partner/01.png" alt="thumb">
            </div>
        </div>
    </div>


    <div class="blog-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Our Blog</span>
                        <h2 class="site-title">Latest News & Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-item-img">
                            <img src="~/assets/img/blog/01.jpg" alt="Thumb">
                        </div>
                        <div class="blog-item-info">
                            <div class="blog-item-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user-circle"></i> By Alicia Davis</a></li>
                                    <li><a href="#"><i class="fa fa-calendar-alt"></i> March 15, 2023</a></li>
                                </ul>
                            </div>
                            <h4 class="blog-title">
                                <a href="#">Stay Informed with Our Latest News</a>
                            </h4>
                            <p>
                                Explore our dynamic Latest News section for up-to-the-minute updates on trends, events, and industry insights. From breaking news to in-depth analyses, we keep you informed and engaged
                            </p>
                            <a class="blog-btn" href="#">Read More<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-item-img">
                            <img src="~/assets/img/blog/02.jpg" alt="Thumb">
                        </div>
                        <div class="blog-item-info">
                            <div class="blog-item-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user-circle"></i> By Alicia Davis</a></li>
                                    <li><a href="#"><i class="fa fa-calendar-alt"></i> March 15, 2023</a></li>
                                </ul>
                            </div>
                            <h4 class="blog-title">
                                <a href="#">Discover Perspectives in Our Blog</a>
                            </h4>
                            <p>
                                Dive into our Blog for a curated collection of insightful articles, expert opinions, and thought-provoking perspectives. Whether you're seeking knowledge on technology, lifestyle, or current affairs,
                            </p>
                            <a class="blog-btn" href="#">Read More<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-item-img">
                            <img src="~/assets/img/blog/03.jpg" alt="Thumb">
                        </div>
                        <div class="blog-item-info">
                            <div class="blog-item-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user-circle"></i> By Alicia Davis</a></li>
                                    <li><a href="#"><i class="fa fa-calendar-alt"></i> March 15, 2023</a></li>
                                </ul>
                            </div>
                            <h4 class="blog-title">
                                <a href="#">Connect with Trends and Ideas</a>
                            </h4>
                            <p>
                                Engage with the pulse of the present through our Latest News & Blog. Uncover trends, discover fresh ideas, and delve into thought-provoking content that goes beyond headlines.
                            </p>
                            <a class="blog-btn" href="#">Read More<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>