@{
    ViewData["Title"] = "Movies";
}

    <main class="main">

        <div class="site-breadcrumb" style="background: url(../assets/img/breadcrumb/01.jpg)">
            <div class="container">
                <h2 class="breadcrumb-title">Movies</h2>
                <ul class="breadcrumb-menu">
                <li><a href="~/Website/Index">Home</a></li>
                    <li class="active">Movies</li>
                </ul>
            </div>
        </div>


        <div class="movie-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline">Movies</span>
                            <h2 class="site-title">Glimpse Of Our Moviverse</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="movie-item">
                        <span class="movie-badge">HD</span>
                        <div class="movie-img">
                            <img src="~/assets/img/movie/01.jpg" >
                            <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="movie-content">
                            <a href="#" class="movie-title">Devil Wing</a>
                            <div class="movie-rating">
                                <i class="fa fa-star"></i> 9.0
                            </div>
                        </div>
                    </div>
                    <div class="movie-item">
                        <span class="movie-badge">CAM</span>
                        <div class="movie-img">
                            <img src="~/assets/img/movie/02.jpg" >
                            <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="movie-content">
                            <a href="#" class="movie-title">Spiderman</a>
                            <div class="movie-rating">
                                <i class="fa fa-star"></i> 8.0
                            </div>
                        </div>
                    </div>
                    <div class="movie-item">
                        <span class="movie-badge">HD</span>
                        <div class="movie-img">
                            <img src="~/assets/img/movie/03.jpg" >
                            <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="movie-content">
                            <a href="#" class="movie-title">Crater Dragon</a>
                            <div class="movie-rating">
                                <i class="fa fa-star"></i> 8.5
                            </div>
                        </div>
                    </div>
                    <div class="movie-item">
                        <span class="movie-badge">HD</span>
                        <div class="movie-img">
                            <img src="~/assets/img/movie/04.jpg" >
                            <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="movie-content">
                            <a href="#" class="movie-title">Fire Wing</a>
                            <div class="movie-rating">
                                <i class="fa fa-star"></i> 5.5
                            </div>
                        </div>
                    </div>
                    <div class="movie-item">
                        <span class="movie-badge">HD</span>
                        <div class="movie-img">
                            <img src="~/assets/img/movie/05.jpg" >
                            <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="movie-content">
                            <a href="#" class="movie-title">Robot</a>
                            <div class="movie-rating">
                                <i class="fa fa-star"></i> 6.5
                            </div>
                        </div>
                    </div>
                    <div class="movie-item">
                        <span class="movie-badge">HD</span>
                        <div class="movie-img">
                            <img src="~/assets/img/movie/06.jpg" >
                            <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="movie-content">
                            <a href="#" class="movie-title">Snake</a>
                            <div class="movie-rating">
                                <i class="fa fa-star"></i> 4.5
                            </div>
                        </div>
                    </div>
                    <div class="movie-item">
                        <span class="movie-badge">HD</span>
                        <div class="movie-img">
                            <img src="~/assets/img/movie/07.jpg" >
                            <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="movie-content">
                            <a href="#" class="movie-title">King Kong</a>
                            <div class="movie-rating">
                                <i class="fa fa-star"></i> 9.5
                            </div>
                        </div>
                    </div>
                    <div class="movie-item">
                        <span class="movie-badge">HD</span>
                        <div class="movie-img">
                            <img src="~/assets/img/movie/08.jpg" >
                            <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="movie-content">
                            <a href="#" class="movie-title">Gangster</a>
                            <div class="movie-rating">
                                <i class="fa fa-star"></i> 8.5
                            </div>
                        </div>
                    </div>
                    <div class="movie-item">
                        <span class="movie-badge">CAM</span>
                        <div class="movie-img">
                            <img src="~/assets/img/movie/09.jpg" >
                            <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="movie-content">
                            <a href="#" class="movie-title">Revenge</a>
                            <div class="movie-rating">
                                <i class="fa fa-star"></i> 5.5
                            </div>
                        </div>
                    </div>
                    <div class="movie-item">
                        <span class="movie-badge">HD</span>
                        <div class="movie-img">
                            <img src="~/assets/img/movie/01.jpg" >
                            <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="movie-play popup-youtube"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="movie-content">
                            <a href="#" class="movie-title">Roadside</a>
                            <div class="movie-rating">
                                <i class="fa fa-star"></i> 6.5
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

 